.btn-color {
  background-color: #fff4ea;
  color: #c96868;
  font-weight: 700;
}

.title {
  color: #c96868;
  font-weight: 800;
}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #c96868;
  background-image: linear-gradient(180deg, #c96868 25%, #fadfa1 100%);
}

a {
  text-decoration: none;
}
